{% extends 'base.html.twig' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title data-tid="elements_examples.meta.title">Stripe Elements: Build beautiful, smart checkout flows</title>
<meta data-tid="elements_examples.meta.description" name="description" content="Build beautiful, smart checkout flows.">
{% endblock %}
{% block title %}paiement{% endblock %}
{%  block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  {{ encore_entry_link_tags('base') }}
  {{ encore_entry_link_tags('example1CSS') }}
{% endblock %}
{% block body %}
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="col">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <img src="/uploads/Fichiers/images/{{ product.image }}" alt="..." class="img-thumbnail">
              <h3> {{ product.name }} </h3>
              <div>{{product.price}} euros</div>
            </div>
          </div>
          <div class="card-body">
            <form action="{{ path("subscription_paiement", {'id': 1 }) }}" method="post" id="payment-form">
              <div class="form-row">
                <div id="card-elements"></div>
                <div id="card-errors" role="alert"></div>
              </div>
              <button class="btn btn-primary mt-4">
                Acheter
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

      {% block javascripts %}
        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script>

          {% if app.environment == 'dev' %}
          var stripeToken = "{{ STRIPE_PUBLIC_KEY_TEST }}";
          {% else %}
           var stripeToken = "{{ STRIPE_PUBLIC_KEY_LIVE }}";
          {% endif %}
          var stripe = Stripe(stripeToken);
          var elements = stripe.elements();
          var subscription = "{{ product.id }}";
          var clientSecret = "{{ intentSecret }}";
          var cardholderName = "{{ app.user.name }}";
          var cardholderEmail = "{{ app.user.email }}";




          var styleCustom = {
            base: {
              fontSize: '16px',
              color: '#25332d'
            }
          }

          // Monter notre form a l'objet Stripe
          var card = elements.create('card', {style: styleCustom });
          card.mount("#card-elements");

          //Message Error
          card.addEventListener('change', function(event){
            var displayError = document.getElementById('card-errors');

            if(event.error) {
              displayError.textContent = event.error.message;
            } else {
              displayError.textContent = '';
            }
          });

          var form = document.getElementById('payment-form');

          form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.handleCardPayment(
                    clientSecret,
                    card,
                    {
                      payment_method_data: {
                        billing_details: {
                          name: cardholderName,
                          email: cardholderEmail
                        }
                      }
                    }
            ).then((result) => {
              if(result.error) {
                // Display error
              } else if('paymentIntent' in result) {
                console.log('Result : ',result);
                stripeTokenHandler(result.paymentIntent);
                console.log('Result paymentIntent : ',result.paymentIntent);
              }
            })
          });

          function stripeTokenHandler(intent) {
            var form = document.getElementById('payment-form');
            var InputIntentId = document.createElement('input');
            var InputIntentPaymentMethod = document.createElement('input');
            var InputIntentStatus = document.createElement('input');
            var InputSubscription = document.createElement('input');

            InputIntentId.setAttribute('type', 'hidden');
            InputIntentId.setAttribute('name', 'stripeIntentId');
            InputIntentId.setAttribute('value', intent.id);

            InputIntentPaymentMethod.setAttribute('type', 'hidden');
            InputIntentPaymentMethod.setAttribute('name', 'stripeIntentPaymentMethod');
            InputIntentPaymentMethod.setAttribute('value', intent.payment_method);

            InputIntentStatus.setAttribute('type', 'hidden');
            InputIntentStatus.setAttribute('name', 'stripeIntentStatus');
            InputIntentStatus.setAttribute('value', intent.status);

            InputSubscription.setAttribute('type', 'hidden');
            InputSubscription.setAttribute('name', 'subscription');
            InputSubscription.setAttribute('value', subscription);

            form.appendChild(InputIntentId);
            form.appendChild(InputIntentPaymentMethod);
            form.appendChild(InputIntentStatus);
            form.appendChild(InputSubscription);
            form.submit();
          }
        </script>
      {% endblock  %}
{% endblock %}